---
---

// Put Variable Overrides Here

$brand-primary: #2F5C9F !default;
$dark-grey: #4A4A4A !default;
$font-family-sans-serif: 'Muli', sans-serif !default;
$headings-font-family: 'Montserrat', sans-serif !default;
$font-size-base: 20px;

$white: #ffffff;
$jumbotron-padding:              30px !default;
$jumbotron-color:                $white !default;
$jumbotron-bg:                   $brand-primary !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            $font-size-base !default;
$jumbotron-heading-font-size:    75px !default;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-color: $white;
$navbar-inverse-link-color: $white;
$navbar-inverse-link-active-color: $brand-primary;
$navbar-inverse-link-active-bg: $white;



$font-size-h1: 75px;
$font-size-h2: 31px;
$font-size-h3: 25px;

$navbar-height: 150px;
$btn-border-radius-base: 12px;


// Now import bootsttrap

@import "bootstrap";

// Now overrides

.btn {
    font-family: $headings-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.h1
  {
  letter-spacing: 3px;
  color: $brand-primary;
  font-family: $headings-font-family;
}

h2 {
  text-align: center;
  color: $brand-primary;
  font-weight: bold;
  margin-top: 50px;
  letter-spacing: 3px;
}

h3 {
  color: $dark-grey;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
}

.navbar {
  font-family: $headings-font-family;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar {
    .nav {
      li a {
        border-radius: 12px;
        margin-top: 55px;
        margin-right: 15px;
        padding: 5px 10px;
      }
    }
  }

  .navbar {
    .action a {
      border: 1px solid $white;
    }
  }

}


.navbar-brand {
  padding-top: 25px;
}

.image {
  max-width: 1200;
  height: 400px;
}

.navbar-brand, .navbar-nav>li>a {
      img {
        width: 100px;
        height: 100px;
      }
  }


.title {
  margin: 0;
}

.inverse {
  background-color: $brand-primary;
  color: $white;

  h2 {
    color: $white;
  }
}

.pad25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pad50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  h1 {
    text-align: center;
  }

  margin-bottom: 0;
}

img.centered {
  display: block;
  margin: 30px auto 30px;
}

h3.centered {
  text-align: center;
}

.image-container {
  margin-left: -15px;
  margin-right: -15px;

  img {
    width: 100%;
  }
}
