---
layout: default
permalink: /
---
<div class="container-fluid">
  <div class="row inverse pad50">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <p>
      On January 27, 2017, an Executive Order was signed temporarily prohibiting 
      entry to the U.S. by all refugees regardless of nationality and all 
      individuals from seven majority-Muslim countries. This, and subsequent 
      anti-immigrant efforts from the Administration, are offensive to our values 
      as Americans.
      </p>

      <p>
      Dulles Justice Coalition is a nonpartisan alliance of individual volunteers 
      from legal non-profits, law firms, and all walks of life working to uphold 
      democracy and justice. Our volunteers remain focused on fighting the Muslim Ban 
      on a person-to-person level and in the courts, and we remain committed to using 
      our collective voice and power to stand shoulder to shoulder with our immigrant 
      and refugee neighbors to counter discrimination and bigotry.  
      </p>
    </div>
  </div>
  <div class="row getinvolved">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
      <img class="centered" src="{{ site.baseurl }}/images/Icon-Volunteer.png" />
      <h2>Get Involved</h2>
      <p>
         For now, our fight has moved from the airports to the courts and U.S. embassies and consulates overseas. Please sign up for our email list to stay up to date. 
      </p>
      <a class="spaced btn btn-primary btn-lg" href="{{ site.baseurl }}/action/">JOIN US</a>
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="centered" src="{{ site.baseurl }}/images/Icon-Legal.png" />
      <h2>Legal Assistance</h2>
      <p>
        Do you know someone who is being detained or needs legal help? We will work to get an attorney to you quickly.
      </p>
      <a class="spaced btn btn-primary btn-lg" href="{{ site.baseurl }}/legal/">
        GET LEGAL HELP
      </a>
    </div>
  </div>
  <div class="row pad25">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <p class="centered">If volunteering does not strike your fancy, here are other ways to <a href="{{ site.baseurl }}/action/">TAKE ACTION</a>.</p>
    </div>
  </div>
  {% include imagerow.html src="Homepage-photo2.jpg" %}
  <div class="row padbottom50">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
          <img class="centered" src="{{ site.baseurl }}/images/Icon-Press.png" />
          <h2 class="centered">Press Inquiries</h2>
          <p>Are you a member of the media wishing to speak with one of our team members?</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <img class="centered" src="{{ site.baseurl }}/images/Icon-Twitter.png" />
          <h2 class="centered">Twitter</h2>
          <p>Follow us <a href="https://twitter.com/DullesJustice">@DullesJustice</a> or the hashtag
          <a href="https://twitter.com/hashtag/DullesJustice">#DullesJustice</a> for the latest information. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
          <a class="spaced btn btn-primary btn-lg" href="{{ site.baseurl }}/press/">
            REACH OUT
          </a>
        </div>
        <div class="col-sm-5 col-xs-12">
          <a class="spaced btn btn-primary btn-lg" href="https://twitter.com/DullesJustice">
            TWITTER
          </a>
        </div>

      </div>
    </div>
  </div>
  {% include imagerow.html src="Homepage-photo3.jpg" %}
</div>
