---
layout: default
permalink: /
---
<div class="container-fluid">
  <div class="row inverse pad50">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <p>
      On Friday, January 27, an Executive Order was signed that temporarily
      prohibits entry by all refugees regardless of nationality and all
      individuals from seven majority-Muslim countries.
      This is offensive to our values as Americans.
      </p>

      <p>
      The Dulles Justice Coalition is a nonpartisan alliance of individual
      volunteers from legal non-profits, law firms, and all walks of life.
      We are working together to uphold democracy and justice.
      </p>
    </div>
  </div>
  <div class="row getinvolved">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
      <img class="centered" src="{{ site.baseurl }}/images/Icon-Volunteer.png" />
      <h2>Get Involved</h2>
      <p>
        We are grateful for any time you are able to give. Volunteer opportunities range from online to on the ground at Dulles. Please fill out our brief form to get an assignment.
      </p>
      <a class="spaced btn btn-primary btn-lg" href="http://www.signupgenius.com/go/5080d4baeab2da4f58-dulles1">VOLUNTEER</a>
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="centered" src="{{ site.baseurl }}/images/Icon-Legal.png" />
      <h2>Legal Assistance</h2>
      <p>
        Do you know someone who is being detained or needs legal help? We will work to get an attorney to you quickly.
      </p>
      <a class="spaced btn btn-primary btn-lg" href="{{ site.baseurl }}/legal/">
        GET LEGAL HELP
      </a>
    </div>
  </div>
  <div class="row pad25">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <p class="centered">If volunteering does not strike your fancy, here are other ways to <a href="{{ site.baseurl }}/action/">TAKE ACTION</a>.</p>
    </div>
  </div>
  {% include imagerow.html src="Homepage-photo2.jpg" %}
  <div class="row padbottom50">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <img class="centered" src="{{ site.baseurl }}/images/Icon-Press.png" />
          <h2 class="centered">Press Inquries</h2>
          <p>Are you a member of the media wishing to speak with one of our team members?</p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <img class="centered" src="{{ site.baseurl }}/images/Icon-Twitter.png" />
          <h2 class="centered">Twitter</h2>
          <p>Follow us <a href="https://twitter.com/DullesJustice">@DullesJustice</a> or the hashtag
          <a href="https://twitter.com/hashtag/DullesJustice">#DullesJustice</a> for the latest information. </p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <img class="centered" src="{{ site.baseurl }}/images/Icon-Insta.png" />
          <h2 class="centered">Instagram</h2>
          <p>See Dulles Justice from the eyes of volunteers and affected people at
            <a href="https://www.instagram.com/dullesjustice/">@DullesJustice</a> on Instagram.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <a class="spaced btn btn-primary btn-lg" href="{{ site.baseurl }}/press/">
            REACH OUT
          </a>
        </div>
        <div class="col-sm-4 col-xs-12">
          <a class="spaced btn btn-primary btn-lg" href="https://twitter.com/DullesJustice">
            TWITTER
          </a>
        </div>
        <div class="col-sm-4 col-xs-12">
          <a class="spaced btn btn-primary btn-lg" href="https://www.instagram.com/dullesjustice/">
            INSTAGRAM
          </a>
        </div>
      </div>
    </div>
  </div>
  {% include imagerow.html src="Homepage-photo3.jpg" %}
</div>
