<p class="disclaimer">
Dulles Justice Coalition is not a law firm, nor does it purport to render legal services.
Any information that you email to Dulles Justice Coalition will not be considered confidential.
Your email will be routed to someone who will try to match you with a lawyer.
You will not be in an attorney-client relationship until you have reached agreement with a lawyer to represent you.
You should limit the information you provide in the email to your contact information.
Any information that you enter on this email will not be considered confidential,
though we intend to limit distribution to volunteers who have offered to provide assistance.
</p>
