<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="Dulles Justice Coalition" src="{{ site.baseurl }}/images/Logo-square-primary.jpg">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsed-1">
    <ul class="nav navbar-right navbar-nav">
      {% assign current = page.url | downcase | split: '/' %}
      <li role="presentation" {% if current[1] == 'legal' %}class="active"{% endif %}><a href="{{ site.baseurl }}/legal/">Legal Help</a></li>
      <li role="presentation" {% if current[1] == 'press' %}class="active"{% endif %}><a href="{{ site.baseurl }}/press/">Press</a></li>
      <li role="presentation"><a href="https://twitter.com/dullesjustice">Twitter</a></li>
      <li role="presentation" class="action {% if current[1] == 'action' %}active{% endif %}"><a href="{{ site.baseurl }}/action/">Take Action</a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="jumbotron title">
  <h1>#DullesJustice</h1>
</div>
